﻿@model Category

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                @*<div asp-validation-summary="All"></div>*@
                <div class="form-floating py-2 col-12">
                    <input asp-for="Name" class="form-control border-0 shadow">
                    <label asp-for="Name" class="ms-2"></label>
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="DisplayedOrder" class="form-control border-0 shadow">
                    <label asp-for="DisplayedOrder" class="ms-2"></label>

                    <span class="text-danger" asp-validation-for="DisplayedOrder"></span>
                </div>
                <div class="row pt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary border form-control">Back To List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
