﻿@model List<Category>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Category List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-2">
            <div class="col-6">
                
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Category" asp-action="AddCategory" class="btn btn-primary">
                    <i class="bi bi-plus-circle-fill"></i> &nbsp; Create new Category
                </a>
            </div>
        </div>
        <br />
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th style="text-align:center">
                        Category Name
                    </th>
                    <th style="text-align:center">Display Order</th>
                    <th style="text-align:center">CreatedOn</th>
                    <th style="text-align:center">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.OrderBy(u => u.Id))
                {
                    <tr>
                        <td style="width: 40%">
                            @i.Name
                        </td>
                        <td style="width: 30%">
                            @i.DisplayedOrder
                        </td>
                        <td style="width: 30%">
                            @i.CreatedOn
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Category" asp-action="EditCategory" asp-route-id="@i.Id" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square">Edit</i>
                                </a>
                                <a asp-controller="Category" asp-action="DeleteCategory" asp-route-id="@i.Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash3-fill">Delete</i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

