﻿@model Product

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                @*<div asp-validation-summary="All"></div>*@
                <div class="form-floating py-2 col-12">
                    <input asp-for="Title" class="form-control border-0 shadow">
                    <label asp-for="Title" class="ms-2"></label>
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Description" class="form-control border-0 shadow">
                    <label asp-for="Description" class="ms-2"></label>

                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="ISBN" class="form-control border-0 shadow">
                    <label asp-for="ISBN" class="ms-2"></label>

                    <span class="text-danger" asp-validation-for="ISBN"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="Author" class="form-control border-0 shadow">
                    <label asp-for="Author" class="ms-2"></label>

                    <span class="text-danger" asp-validation-for="Author"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="ListPrice" class="form-control border-0 shadow">
                    <label asp-for="ListPrice" class="ms-2"></label>

                    <span class="text-danger" asp-validation-for="ListPrice"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="Price" class="form-control border-0 shadow">
                    <label asp-for="Price" class="ms-2"></label>

                    <span class="text-danger" asp-validation-for="Price"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="PricePer50" class="form-control border-0 shadow">
                    <label asp-for="PricePer50" class="ms-2"></label>

                    <span class="text-danger" asp-validation-for="PricePer50"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="PricePer100" class="form-control border-0 shadow">
                    <label asp-for="PricePer100" class="ms-2"></label>

                    <span class="text-danger" asp-validation-for="PricePer100"></span>
                </div>

                <div class="row pt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary border form-control">Back To List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
