﻿@model Product

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <input asp-for="Id" hidden />
            <div class="border p-3 mt-4">

                <div class="form-floating py-2 col-12">
                    <input asp-for="Title" disabled class="form-control border-0 shadow">
                    <label asp-for="Title" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Description" disabled class="form-control border-0 shadow">
                    <label asp-for="Description" class="ms-2"></label>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="ISBN" disabled class="form-control border-0 shadow">
                    <label asp-for="ISBN" class="ms-2"></label>

                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="Author" disabled class="form-control border-0 shadow">
                    <label asp-for="Author" class="ms-2"></label>

                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="ListPrice" disabled class="form-control border-0 shadow">
                    <label asp-for="ListPrice" class="ms-2"></label>

                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="Price" disabled class="form-control border-0 shadow">
                    <label asp-for="Price" class="ms-2"></label>

                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="PricePer50" disabled class="form-control border-0 shadow">
                    <label asp-for="PricePer50" class="ms-2"></label>

                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="PricePer100" disabled class="form-control border-0 shadow">
                    <label asp-for="PricePer100" class="ms-2"></label>

                </div>

                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control">Delete</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control">Back To List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>





