﻿@model List<Product>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-2">
            <div class="col-6">
                
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Product" asp-action="AddProduct" class="btn btn-primary">
                    <i class="bi bi-plus-circle-fill"></i> &nbsp; Create new Product
                </a>
            </div>
        </div>
        <br />
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th style="text-align:center">Title</th>
                    <th style="text-align:center">ISBN</th>
                    <th style="text-align:center">Price</th>
                    <th style="text-align:center">Author</th>
                    <th style="text-align:center">Category</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {
                    <tr>
                        <td style="width: 40%">
                            @i.Title
                        </td>
                        <td style="width: 30%">
                            @i.ISBN
                        </td>
                        <td style="width: 30%">
                            @i.Price
                        </td>
                        <td style="width: 30%">
                            @i.Author
                        </td>
                        <td style="width: 30%">
                           
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Product" asp-action="EditProduct" asp-route-id="@i.Id" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square">Edit</i>
                                </a>
                                <a asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@i.Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash3-fill">Delete</i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

